﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage<IEnumerable>" %>

<asp:Content ContentPlaceHolderID="MainContent" runat="server">

<h2>Admin</h2>

<% foreach (var item in Model) { %>

	<%: item %> <br />

<% } %>

</asp:Content>
