/*
Template Name: Presentable
File: Forms CSS
Author: OS Templates
Author URI: http://www.os-templates.com/
Licence: <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 Unported License</a>
*/

form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}

/* ----------------------------------------------Search Form-------------------------------------*/

#header {
	#login{
		display: block;
		height: 26px;
		padding-top: 15px
	}

	input{
		display:block;
		float:left;
		width:80px;
		margin:0 5px 0 0;
		padding:5px;
		color:#362C20;
		background-color:#CBCFB5;
		border:1px solid #DBDECD;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
	}

	input[type='submit']{
		float:right;
		width:50px;
		height:auto;
		margin:0;
		padding:4px;
	}
}

/* ----------------------------------------------Forms in Content Area-------------------------------------*/

#header, #container {
	.button[disabled='disabled'] {
		color:InactiveCaptionText;
	}

	a.button {
		color:#444;
		text-decoration: none;
		display: inline-block;
	}
}

#container {
	fieldset { display: block; width:100%; }

	.text-box { width:170px; border:1px solid #CCCCCC; }

	textarea { width:98%; border:1px solid #CCCCCC; padding:2px; overflow:auto; }

	.button {
		margin:0;
		padding:5px;
		background-color:#F7F7F7;
		border:1px solid #CCCCCC;
	}

	.editor-label {
		float: left;
		width: 125px;
		text-align:right;
		margin:4px 10px 0;
	}

	.editor-field {
		padding:2px;
		margin:3px 5px 3px 0;

		.optional {
			margin-left:8px;
			font-size:.8em;
		}
	}

	.field-validation-error { color: #ff0000; }

	.input-validation-error {
		border: 1px solid #ff0000;
		background-color: #ffeeee;
	}

	.validation-summary-errors{
		font-weight: bold;
		color: #ff0000;
	}
}

/* ----------------------------------------------Newsletter-------------------------------------*/

#footer {
	form {
		display:block;
		width:300px;
		margin:0;
		padding:10px 0;
		border:none;
	}

	input{
		display:block;
		float:left;
		width:245px;
		margin:0 5px 0 0;
		padding:5px;
		color:#666666;
		background-color:#FFFFFF;
		border:1px solid #1A3151;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
	}

	input #news_go{
		width:auto;
		height:auto;
		margin:0;
		padding:4px;
	}
}
